[submodule "Submodules/renderscript-toolkit"]
	path = Submodules/renderscript-toolkit
	url = https://github.com/android/renderscript-intrinsics-replacement-toolkit.git:x
	branch = main
[submodule "Submodules/RangeSliderPreference"]
	path = Submodules/RangeSliderPreference
	url = https://github.com/siavash79/rangesliderpreference.git:main
	branch = main
