# IntelliJ IDEA
*.iml
*.iws

# Gradle files
.gradle
.gradle/
/build

# Local configuration file (sdk path, etc)
local.properties

# Android Studio
/*/build/
/*/local.properties
/*/out
/*/*/build
/*/*/production
/captures
.navigation/
.DS_Store
*.ipr
*~
*.swp
.cxx

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild

# Keystore files
*.jks
*.keystore
/keystore.properties

# User-specific configurations
.idea/caches/
.idea/libraries/
.idea/shelf/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/navEditor.xml

# Generated APK files
/app/debug/
/app/release/