<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
		tools:ignore="QueryAllPackagesPermission" />

	<application
		android:name=".PixelXpert"
		android:enableOnBackInvokedCallback="true"
		android:icon="@mipmap/ic_launcher"
		android:label="Pixel Xpert"
		android:supportsRtl="true"
		android:forceQueryable="true"
		android:theme="@style/AppTheme.PixelXpert">
		<activity
			android:name=".ui.activities.WikiActivity"
			android:exported="false" />
		<activity
			android:name=".ui.activities.SplashScreenActivity"
			android:exported="true"
			android:label="@string/title_activity_settings" />

		<activity-alias
			android:name=".SplashScreenActivityAlternateIcon"
			android:enabled="false"
			android:exported="true"
			android:icon="@mipmap/ic_launcher_themed"
			android:label="@string/title_activity_settings"
			android:targetActivity=".ui.activities.SplashScreenActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity-alias>
		<activity-alias
			android:name=".SplashScreenActivityNormalIcon"
			android:enabled="true"
			android:exported="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/title_activity_settings"
			android:targetActivity=".ui.activities.SplashScreenActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity
			android:name=".ui.activities.SettingsActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.RUN" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<service
			android:name=".service.tileServices.VolumeTileService"
			android:exported="true"
			android:icon="@drawable/ic_volume"
			android:label="@string/volume_tile_title"
			android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
			<intent-filter>
				<action android:name="android.service.quicksettings.action.QS_TILE" />
			</intent-filter>
		</service>
		<service
			android:name=".service.tileServices.AppProfileSwitchTileService"
			android:exported="true"
			android:icon="@drawable/ic_app_switch"
			android:label="@string/app_switch_tile_title"
			android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
			<intent-filter>
				<action android:name="android.service.quicksettings.action.QS_TILE" />
			</intent-filter>
		</service>
		<service
			android:name=".service.RootProviderProxy"
			android:exported="true"
			tools:ignore="ExportedService" />

		<receiver
			android:name=".utils.BootReceiver"
			android:enabled="true"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<provider
			android:name=".utils.RemotePrefProvider"
			android:authorities="sh.siava.pixelxpert"
			android:directBootAware="true"
			android:exported="true"
			tools:ignore="ExportedContentProvider" />

		<meta-data
			android:name="xposeddescription"
			android:value="@string/xposed_desc" />
		<meta-data
			android:name="xposedminversion"
			android:value="82" />
		<meta-data
			android:name="xposedscope"
			android:resource="@array/module_scope" />
	</application>

</manifest>